<h1 class="text-center display-2" style="font-size:5vw;">Tetris</h1>
<hr class="bg-dark">
<div class="container">
</div>
<div class="row justify-content-around">
  <div class="col-4"></div>
  <div class="col-4">
    <div id="tetrisOuterContainer">
      <div class="spacer"></div>
      <canvas width="250px" height="500px" id="tetrisInnerContainer">
      </canvas>
    </div>
    <button>
      Start
    </button>
  </div>
  <div class="col-4"></div>
</div>
<div style="min-height:100px;"></div>
