#tetrisOuterContainer {
    height: 550px;
    width: 500px;
    border: 3px solid black;
    border-radius: 20px;
}
#tetrisInnerContainer {
    border: 1px solid #AAAAAA;
    margin-left: 125px;
    border-radius: 5px;
}
#nextPieceContainer {
    border: 1px solid #AAAAAA;
    max-width: 75px;
    border-radius: 5px;
}
.spacer {
    height: 25px;
}
.tetrisColumn {
    border: 1px solid black;
    width: 30px;
}
.tetrisSettings {
    border: 1px solid;
    border-color: #DDDDDD;
    box-shadow: 5px 10px 10px gray;
    padding: 10px;
}
#tetrisLevel {
    max-width: 100px;
}
#gameover {
    height:502px;
    width:252px;
    position: absolute;
    background: rgba(0,0,0,0.8);
    margin-left: 125px;
    font-size: 60px;
    text-align:center;
    color: #DDDDDD;
    border-radius: 5px;
}
#submitName {
    font-size: 16px;
}
.input {
    border-radius: 7px;
    max-width: 150px;
}
#replayButton {
    font-size: 20px;
    background-color: #55555;
    color: #101010;
    padding: 10px 30px;
    border-radius: 4px;
    border-color: #AAAAAA;
}
#highScoresContainer {
    overflow: hidden;
    font-family: 'Comic Sans';
}
#highScores {
    position: relative;
    overflow: hidden;
}
#hallOfFameLink {
    color: blue;
    font-size: 13px;
}
#hallOfFameLink:hover {
    cursor: pointer;
}