html, body{
    overflow-x: hidden;
    max-width: 100%;
}
#tetrisInnerContainer {
    border: 1px solid #AAAAAA;
/*    margin-left: 125px;
*/    border-radius: 5px;
}
#nextPieceCanvas {

}
.occurences{

}
#occurenceContainer {
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.spacer {
    height: 25px;
}
.tetrisColumn {
    border: 1px solid black;
    width: 30px;
}
.tetrisSettings {
    border: 1px solid;
    border-color: #DDDDDD;
    box-shadow: 5px 10px 10px gray;
    padding: 10px;
}
#tetrisLevel {
    max-width: 100px;
}
#gameover {
    height:502px;
    width:252px;
    position: absolute;
    background: rgba(0,0,0,0.8);
/*    margin-left: 125px;
*/    font-size: 60px;
    text-align:center;
    color: #DDDDDD;
    border-radius: 5px;
}
#submitName {
    font-size: 16px;
}
.input {
    border-radius: 7px;
    max-width: 150px;
}
#replayButton {
    font-size: 20px;
    background-color: #55555;
    color: #101010;
    padding: 10px 30px;
    border-radius: 4px;
    border-color: #AAAAAA;
}
#highScoresContainerContainer {
    overflow: hidden;
    font-family: 'Comic Sans';
}
#highScores {
    position: relative;
    overflow: hidden;
}
.aLink {
    color: blue;
    font-size: 13px;
}
.aLink:hover {
    cursor: pointer;
}
.createPieceGrid {
    border: 1px solid black;
}
.createPieceGrid:hover {
    background-color: red;
    cursor: pointer;
}

/*************************** Resize custom for devices *****************************/   

/* mobile */
@media screen and (max-width: 600px){
    h1 {
	font-size: 1.8em;
    }
    h3 {
	font-size: 1.3em;
    }
    p {
	font-size: 0.7em;
    }
    .p {
	font-size: 0.7em;
    }
    .sm {
	font-size: 0.7em;
    }
    th {
	font-size: 0.75em;
    }
    td {
	font-size: 0.75em;
    }
    i {
	font-size: 0.9em;
    }
    div p {
	font-size: 0.63em;
    }
    div span {
	font-size: 0.63em;
    }
    div b {
	font-size: 0.63em;
    }
    #tetrisOuterContainer {
	height: 550px;
	width: 500px;

    }
    #nextPieceContainer {
/*	border: 1px solid #AAAAAA;
		border-radius: 5px;
*/
	max-width: 75px;
	max-height: 75px;
	padding: 0px;
	margin-left: 10px;
    }
}

/* tablet - ish */
@media screen and (min-width: 600px){
    h1 {
	font-size: 2.2em;
    }
    h3 {
	font-size: 1.6em;
    }
    p {
	font-size: 0.9em;
    }
    .sm {
	font-size: 0.8em;
    }
    .p {
	font-size: 0.8em;
    }
    th {
	font-size: 0.9em;
    }
    td {
	font-size: 0.9em;
    }
    i {
	font-size: 1.0em;
    }
    div p {
	font-size: 0.65em;
    }
    div span {
	font-size: 0.65em;
    }
    div b {
	font-size: 0.65em;
    }
    #nextPieceContainer {
	border: 1px solid #AAAAAA;
	border-radius: 5px;	
	max-width: 75px;
	max-height: 75px;
	padding: 0px;
    }
}
/* laptop - ish */
@media screen and (min-width: 768px){
    h1 {
	font-size: 2.6em;
    }
    h3 {
	font-size: 2.0em;
    }
    p {
	font-size: 1.1em;
    }
    .sm {
	font-size: 0.85em;
    }
    .p {
	font-size: 0.9em;
    }
    th {
	font-size: 1.0em;
    }
    td {
	font-size: 1.0em;
    }
    i {
	font-size: 1.0em;
    }
    div p {
	font-size: 0.75em;
    }
    div span {
	font-size: 0.75em;
    }
    div b {
	font-size: 0.75em;
    }
    #tetrisOuterContainer {
	height: 550px;
	width: 500px;
	border: 3px solid black;
	border-radius: 20px;
    }

}
/* laptop - ish */
@media screen and (min-width: 992px){
    h1 {
	font-size: 3.0em;
    }
    h3 {
	font-size: 2.2em;
    }
    p {
	font-size: 1.1em;
    }
    .sm {
	font-size: 0.9em;
    }
    .p {
	font-size: 1.0em;
    }
    th {
	font-size: 1.0em;
    }
    td {
	font-size: 1.0em;
    }
    i {
	font-size: 1.0em;
    }
    div p {
	font-size: 0.85em;
    }
    div span {
	font-size: 0.85em;
    
    div b {
	font-size: 0.85em;
    }
}
